{% extends 'apointment/template/index.html' %}
{% block title %}
Cavery | Online appointment
{% end block %}

{% block content %}
{% include 'apointment/template/slider.html' %}
<div>
<center>
 <p>
    <h1>Largest Healthcare Network Across East India</h1>
    <h3> Find best doctors across specialities or hospitals in your city</h3>
    Cauvery is a centre of excellence at  Hospitals and deals with diagnosis and treatment of disorders of the nervous system
    The  Hospital Neuro departments are equipped with the best team and state of the art facilities like Neuro radiology, sleep lab,
     Intensive care units etc. Our Neuro team takes care of more than 300 variety of problems like aneurisms, dementia, Alzheimer’s, epilepsy,
     cerebro vascular diseases, headache, multiple sclerosis, stroke, Neuro oncology, neurophysiology, sleep neurology.
     The Apollo stroke program is a protocol based approach and is benchmarked with the best institutions in the world. 
     Taking the best of care for your nervous system is an aspect whose importance cannot be underlined enough, so leave it to the
      Apollo eDoc.in portal to find the best neurologists for any challenge that befalls your nerves!
 </p>
</center>
</div>
<div>
   <center>
      <h2>
          Patient Experience And Testimonals
      </h2>
   <iframe width="700" height="500" src="https://www.youtube.com/embed/-ajhrQQrYcU" title="Patient Experience Videos" 
   </iframe>
   </center>
</div >